absl-py==0.2.2
astor==0.6.2
atari-py==0.1.1
backcall==0.1.0
bleach==1.5.0
blessings==1.7
certifi==2018.4.16
cffi==1.12.2
chardet==3.0.4
cloudpickle==0.5.3
cycler==0.10.0
Cython==0.29.7
decorator==4.3.0
fastrand==1.0
future==0.16.0
gast==0.2.0
glfw==1.7.1
gpustat==0.5.0
grpcio==1.12.1
-e git+https://github.com/openai/gym.git@74229c8dc289e07a515740e3652573bab060ea52#egg=gym
gym-vecenv==1.0
html5lib==0.9999999
idna==2.6
imageio==2.5.0
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lmdb==0.94
lockfile==0.12.2
Markdown==2.6.11
matplotlib==2.2.2
mujoco-py==1.50.1.68
-e git+git@github.com:swami1995/kdc-multi-particle.git@be2126fd215a69bea5bc5e8f34e1aaa106fcd42b#egg=multiagent&subdirectory=mape
nbformat==4.4.0
nltk==3.3
numpy==1.14.3
numpy-stl==2.10.1
nvidia-ml-py3==7.352.0
opencv-python==3.4.1.15
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
pkg-resources==0.0.0
plotly==2.7.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.6.2
ptyprocess==0.5.2
pycparser==2.19
pyglet==1.3.2
Pygments==2.2.0
PyOpenGL==3.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.4
requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
tensorboard==1.8.0
tensorboardX==1.2
tensorflow==1.8.0
termcolor==1.1.0
torch==0.4.0
torchvision==0.2.1
traitlets==4.3.2
urllib3==1.22
vizdoom==1.1.5
wcwidth==0.1.7
Werkzeug==0.14.1
ipdb
joblib
PyPrind
Pillow
moviepy
mpi4py
click
cloudpickle
matplotlib
git+https://github.com/dennisl88/rand_param_envs.git
git+https://github.com/dennisl88/multiworld.git@russell
